.padre {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://img.freepik.com/fotos-premium/carretera-atardecer-fondo_949611-1133.jpg');
    background-size: cover;
    background-position: center;
}
.container {
    width: 100px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.palo {
    margin-top: -90px;
    width: 25px;
    height: 90px;
    background-color: black; 
}

.semafaro {
    width: 70px;
    height: 70px;
    margin: 5px 0;
    border-radius: 50%;
}

.red {
    background-color: rgb(194, 7, 7);
}

.yellow {
    background-color: rgb(195, 195, 5);
}

.green {
    background-color: rgb(9, 116, 9);
}

.purple {
    background-color: rgb(49, 1, 84);
}

.activo {
    box-shadow: 0 0 100px 30px  rgb(255, 250, 159);
}

button {
    margin-top: 100px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: purple;
}
